/* FONTS  =========================================================================================================================================================================================================================================================================== */
/* FiraSans */
@font-face {
    font-family: "FiraSans";
    src: url("../../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "FiraSans";
    src: url("../../fonts/FiraSans/FiraSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "FiraSans";
    src: url("../../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
}
/* CormorantGaramond */
@font-face {
    font-family: "CormorantGaramond";
    src: url("../../fonts/CormorantGaramond/CormorantGaramond-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "CormorantGaramond";
    src: url("../../fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "CormorantGaramond";
    src: url("../../fonts/CormorantGaramond/CormorantGaramond-Bold.ttf") format("truetype");
    font-weight: 700;
}