/* VARIABLES  =========================================================================================================================================================================================================================================================================== */
:root {
    /* text colors */
    --mainColor: #373737;
    /* accent */
    --accent: #f88c73;
    --accentHover: #de7b64;
    --accentActive: #f87051;
    /* primary */
    --primary: #31344e;
    --primaryHover: #4a4c60;
    --primaryActive: #1e2032;
    /* yellow */
    --yellow: #ECB971;
    --yellowHover: #CEA162;
    --yellowActive: #F1AA45;
}
