// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
	@media (min-width: em(1050)){
		max-width: rem(570);
   }
}
// Спойлер
.spollers__item {
	font-size: rem(20);
	border-bottom: rem(8) solid #FAF4F0;
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	@include adaptiveValue("font-size", 20, 16, 767.98, 479.98, 1);
	padding: rem(30) 0;
	font-weight: 600;
	color: #272525;
	display: flex;
	align-items: center;
	column-gap: rem(10);
	justify-content: space-between;
	transition: all 0.3s ease;
	._spoller-init & {
		cursor: pointer;
		position: relative;
		&::after{
			content: "";
			height: 14px;
			flex: 0 0 rem(20);
			background-image: url('../../images/icons/arrow.svg');
			transform: scale(-1, 1);
			background-size: contain;
			background-repeat: no-repeat;
			transform:  rotate(-180deg);
			transition: all 0.5s ease;
		}
		&._spoller-active {
			color: $accent;
			&::after {
				transform:  rotate(0);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding-bottom: rem(30);
	color: #454747;
	@include adaptiveValue("font-size", 16, 12, 767.98, 479.98, 1);
	max-width: rem(470);
	font-weight: 400;
	line-height: 125%; /* 20/16 */
}
